.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.MainLayout {
  display: flex;
  align-items: flex-start;
}

.Espacement {
  width: 30vw;
  height: 100vh;
}

.InfoCompte {
  margin-top: 2vw;
  margin-left: 2vw;
  width: 30vw;
  height: 100vh;
}

.container {
  display: flex;
  align-items: flex-start;
}

.BarStory {
  display: flex;
  gap: 20px;
  width: 100%;
  justify-content: center;
  white-space: nowrap;
  overflow-x: auto;
}

.story {
  display: inline-block;
  text-align: center;
  margin: 20px;
}

.CentreLayout {
  width: 40vw;
}

.LegalCredits {
  color: grey;
  font-size: 0.8em;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Ajout de media queries pour la responsivité */
@media screen and (max-width: 1200px) {


  .Espacement {
    display: flex;
  }

  .InfoCompte {
   display: none;
  }

  .CentreLayout {
    width: 40%;
  }
}

@media screen and (max-width: 1024px) {
  .InfoCompte {
    display: none;
  }



  .BarStory {
    width: 100%;
  }
}
