.DescriptionCard{
    padding-left: 0.5vw;
}

.IconDesciption{
    
    display: inline-flex;
    vertical-align: middle;
    list-style: none;
    margin-top: 0.5vw;
    width: 33vw;
}
.IconDesciption ul{
    display: flex;
    flex-direction: row;
    padding: 0;
}
.IconDesciption ul li {
    margin: 0 1px; 
}
.CardPost{
    overflow: hidden;
    width: 80%;
    height: 20%;
    margin: auto;
    margin-top: 1vw;
    border: 1px outset #c7b9b9;
    border-radius: 1%;
}
.EnTete{
    display: flex;
    margin: auto;
    padding: 10px ;
    flex-direction: row;
    border-bottom: 3px solid grey;
}
.EnTete img{
    
    border-radius: 50%;
    width: 2.2rem;
    height: 2.2rem;
    margin-right:0.5vw;
}
.content{
    
    width: 32vw;
}