
.FicheContact{
    display: flex;
    flex-direction: row;
    max-width: 15vw;
    margin-bottom: 1vw;
}
.FicheContact img{
    width: 2.5vw;
    height: 2.5vw;
    border-radius: 50%;

}
.info-name p{
    display: flex;
    flex-direction: column;
    margin: 0 0.5vw;
}
.info-name{
    margin-top: 0.1vw;
}
.Suivre{
    text-align: center;
    margin-top: 0.8vw;
    margin-left: 3vw;
}
.SugForYou{
    margin-bottom: 2vw;
}