.NavBar {
    border-right: solid 1px grey;
    height: 100vh;
    width: 10vw;
    position: fixed; 
    top: 0;
    left: 0;
    overflow: hidden; 
}

.Nav-Menu {
    font-size: 1.2em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    margin: 0;
    margin-top: 15vh;
    overflow: hidden; 
    white-space: nowrap; 
    text-overflow: ellipsis; 
    position: fixed;
}

.Nav-Logo {
    position: fixed;
    margin-top: 2rem;
    width: 7rem;
    height: auto;
    max-height: 5rem;
    margin-left: 1.5vw;
    margin-bottom:2rem ;
    overflow: hidden; 
}
.Nav-PlusInfo {
    margin-top: 85vh;
    overflow: hidden; 
    text-overflow: ellipsis; 
    position: fixed;
}

.link-item{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 0px;
}
.link-item p{
     margin-top: 13px; 
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
    overflow: hidden; 
}

li {
    margin: 0.8vw;
    margin-left: 1.25rem;
    display: flex;
    align-items: center;
    overflow: hidden; 
    white-space: nowrap; 
    text-overflow: ellipsis; 
    transition: all 0.2s ease-in-out;
}
li:first-child {
    margin-top: 0;
}

svg {
    width: 1.375rem; 
    height: 1.375rem;
    margin-right: 1.25rem; 
}

@media (max-width: 90em) { 
    .NavBar {
        width: 15vw;
    }
    li {
        margin-top: 1.875rem; /* 30px */
    }
}


@media (max-width: 30em) { /* 480px */
    .NavBar {
        width: 30%;
        border-right: none;
        border-bottom: solid 1px grey;
        height: auto;
        position: relative;
    }

    .Nav-Menu {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .Nav-Logo {
        width: 50%;
        max-height: 4.375rem; /* 70px */
    }

    .Nav-PlusInfo {
        margin-top: 10vh;
        order: 1;
        width: 100%;
        text-align: center;
    }

    li {
        margin: 0.625rem; /* 10px */
        flex: 1 1 100%;
        justify-content: center;
    }

    svg {
        width: 1.125rem; /* 18px */
        height: 1.125rem;
    }
}
