.profil-active .link-item{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 0px;
}
.profil-active .link-item p{
    visibility: hidden;
     margin-top: 13px; 
}
.profil-active .Nav-Logo{
    visibility: hidden;
}
.profil-active .NavBar li{
    transition: all 0.5s ease-in-out;
    margin: 0;
}
.profil-active .NavBar{
    border-right: none;
    width: 3% !important;
}
.profil-active .SearchBox{
    display: block;
    width: 85%;
}
.profil-active{
    width: 20% !important;
}
.search-container {
    position: relative;
    max-width: 340px;
    width: 100%;
    margin-bottom: 1vw;
}
.search-container input {
    width: 100%;
    padding: 12px 12px 12px 40px;
    font-size: 14px;
    border: 1px solid #dbdbdb;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    color: #262626;
    transition: all 0.2s ease-in-out;
    position: relative;
    z-index: 1;
}
.search-container input::placeholder {
    color: #8e8e8e;
}
.search-container input:focus {
    outline: none;
    border-color: #a8a8a8;
}
.search-icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 16px;
    height: 16px;
    fill: #8e8e8e;
    z-index: 2;
}
.search-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    transition: all 0.2s ease-in-out;
    opacity: 0;
    z-index: 0;
    border-radius: 10px;
}
.search-container:hover::before {
    opacity: 1;
}
.RechercheBox {
    font-size: 2em;
    margin-left: 0.2vw;
    border-bottom: 1px solid grey;
}
.InfoSearchBox{
    margin-left: 1vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.FicheSearch{
    margin: 1vw;
    font-size: 0.8em;
}
@media (max-width: 2200px) {
    .search-container {
        max-width: 280px;
    }
}
@media (max-width: 2000px) {
    .RechercheBox {
        font-size: 1.5em;
    }
    .search-container {
        max-width: 200px;
    }
}
@media (max-width: 1500px) {
    .RechercheBox {
        font-size: 1.3em;
    }
    .search-container {
        max-width: 150px;
    }
}
@media (max-width: 1200px) {
    .RechercheBox {
        font-size: 1em;
    }
    .search-container {
        max-width: 100px;
    }
}